---
title: About
layout: page
isPage: true
pageOrder: 4
---

h2 About
p
  | First and foremost, I am a tech enthusiast. Some may call me a entreprenuer, geek, co-founder, businessman
  | or even computer repair guy. As of late though I spend most of my time on my current startup Quixby.
p
  | While I currently live in Akron, Ohio, I have had my fair share of travel prior to planting my roots here for Quixby.
  | After High School I ended up venturing out to Phoenix, Arizona for college and that was a huge shift, one that
  | provided me with a great deal of perspective. Following that though I ended up coming back to Columbus, Ohio to
  | study at Ohio State University, this was the point where I ended up founding Quixby with my 2 other partners.
P
  | So how do I occupy my time? Well that's simple, business. Quixby has been an enormous adventure and it is one of
  | the most challenging aspects of my life, which is exactly how a start-up should be. Outside of that though I love
  | listening to trance music, playing some Halo, enjoying time with my family here in Ohio, and working out either
  | at the gym or the gorgeous ohio metro parks.