---
title: Blog
layout: page
isPage: true
pageOrder: 3
---

h1 Blog
.blog
  each doc in getCollection('posts').toJSON()
    - var arrDate = doc.date.toDateString().split(' ')
    article.post
      h2
        a(href= doc.url)= doc.title
      .date
        span.month-day.highlight= arrDate[1] + ' ' + arrDate[2]
        span.year= arrDate[3]