---
title: Blog
layout: page
isPage: true
pageOrder: 3
---

h1 Blog
p My thoughts on a plethora of topics and events.
ul.posts
  each doc in getCollection('posts').toJSON()
    li.post
      .date
        span.month-day= doc.date.toDateString()
        span.year
      .title
        a(href= doc.url)= doc.title