---
title: Work
layout: page
isPage: true
pageOrder: 2
---

h2 Work
p A full log containing all my work is coming soon!

ul#projects
  each document in getCollection('projects').toJSON()
    li
      div.title
        a(href= document.url)= document.title
      div.image
        a(href= document.url)
