---
title: Work
layout: page
isPage: true
pageOrder: 2
---

h1 Work
ul#projects
  each document in getCollection('projects').toJSON()
    li
      div.title
        a(href= document.url)= document.title
      a.image(href= document.url)
        a(src= '/' + document.relativeDirPath + '/1.png')
