---
title: Work
layout: page
isPage: true
pageOrder: 2
---

h2 Work
p
  | A full log containing all my work is coming soon!

each document in getCollection('projects').toJSON()
  entry
    .image= document.thumbnail
    .title= document.title
