---
title: Work
layout: page
isPage: true
pageOrder: 2
---

section#work
  each document in getCollection('projects').toJSON()
    .project
      img(src= '/' + document.relativeDirPath + '/thumbnail.png')
