---
title: Work
layout: page
isPage: true
pageOrder: 2
---

section#work
  each document in getCollection('projects').toJSON()
    .project
      a(href= document.url)
        img(src= '/' + document.relativeDirPath + '/thumbnail.png')

