---
title: Work
layout: page
isPage: true
pageOrder: 2
---

h1 Work
.projects
  each document in getCollection('projects').toJSON()
    .project(class= document.identifier)
      img(src= '/' + document.relativeDirPath + '/logo.png')
      h4.title
        a(href= document.url)= document.title
