/* Landscape phones and down */
@media (max-width: 480px)

/* Landscape phone to portrait tablet */
@media (max-width: 768px)
	.nav > li > a
		padding: 5px 20px
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px)
	.projects > li
		width: 33.33333333333%
		&:first-child
			width: 100%

/* Default: 940px and up  */
@media (min-width: 940px)

/* Large desktop */
@media (min-width: 1210px)