//Imports
@import modules/grid.css.scss
@import modules/normalize.css
@import modules/colors.css.sass
@import compass/css3

// Main Stylin'
html, body
  height: 99%

body
  font-family: "museo-sans"
  background: $white
  color: rgba(119, 119, 119, 1)
  border-top: 3px solid $orange

nav
  border-bottom: 2px solid $orange
  padding-bottom: 3px
  a
    margin-right: 4%
    font-weight: 700
    font-size: 14px

header
  left: 0
  margin-right: auto
  margin-left: auto

footer
  margin-right: auto
  margin-left: auto
  padding: .5em 0 2em 0
  border-top: 1px solid $light-gray
  &:after
    content: ''
    display: block
    clear: both
  p
    font-size: 12px
    color: $gray
    float: right

p
  line-height: 1.4em
  margin-bottom: .35em
  font-weight: 300

hr
  border-bottom: none
  border-top: none
  margin-bottom: 1em

h1
  font-weight: 500
  margin-bottom: 6px / $em
  color: $super-dark-gray

h2
  font-weight: 300
  margin-bottom: 6px / $em
  color: $super-dark-gray

h3
  font-weight: 500
  margin-bottom: 4px / $em
  color: $dark-gray

h4
  font-weight: 300
  margin-bottom: 2px / $em
  color: $gray

li
  list-style-type: none

img
  width: 100%
  margin-bottom: 1em
  display: inline-block

a, a:visited
  color: $super-dark-gray
  font-weight: 500
  text-decoration: none
  line-height: 1.4em

a:hover
  color: $orange

a.active
  color: $orange

// General Stylin'
#masthead
  margin: 6em 0 4em 0
  a
    font-weight: 300

.highlight
  color: $orange

// About Page Stylin'
#details
  &:after
    content: ''
    display: block
    clear: both
  .detail
    +width(4) // move to per display styling
    float: left // move to per display styling
    margin-left: 1em // move to per display styling
    &:nth-child(3n + 1)
      margin-left: 0

// Work Page Stylin'
#work
  &:after
    content: ''
    display: block
    clear: both
  .project
    display: inline-block
    margin-left: 1.25em // move to per display styling
    margin-bottom: 1.25em // move to per display styling
    background: $white
    &:nth-child(3n + 1)
      margin-left: 0
    img
      width: 16.5em
      height: auto
      margin: 0
      display: block
      &:hover
        opacity: .8
        cursor: pointer

// Blog Stylin'
#blog
  margin-top: 1em
.post
  padding-left: 4em
  position: relative
  margin-bottom: 1em
  h2
    border-left: 1px solid $light-gray
    margin: 0
    padding: .25em 0 .25em 10px
  .date
    position: absolute
    top: 0
    left: 0
    text-align: right
    padding: .25em 0 .25em 0
    .month-day
      display: block
    .year
      display: block

#content
  margin-top: 2em
  display: block
  img
    border: 1px solid $light-gray
    margin-bottom: 1em
    width: 100%%

/*
 *Mobile layout
 *240–479 px
 *Zoomed out below 320 px
@media screen and (min-width: 15em)
  //Typography
  p
    font-size: ($font-size - 2) / $em
  h1
    font-size: ($font-size + 4) / $em
  h2
    font-size: ($font-size + 4) / $em
  h3
    font-size: ($font-size) / $em
  //Grid
  header
    +width(4)
  #container
    +width(4)
    margin: 1em auto
  footer
    +width(4)

/*
 *Wide mobile layout
 *480-767 px
 *Zoomed in above 480 px
@media screen and (min-width: 30em)
  //Typography
  p
    font-size: ($font-size - 1) / $em
  h1
    font-size: ($font-size + 10) / $em
  h2
    font-size: ($font-size + 5) / $em
  h3
    font-size: ($font-size + 2) / $em
  //Grid
  header
    +width(6)
  #container
    +width(6)
    margin: 1.5em auto
  #intro
    +width(6)
  footer
    +width(6)

/*
 *Tablet layout
 *600-911 px
 *Zoomed in above 600 px
@media screen and (min-width: 37.5em)
  //Typography
  p
    font-size: ($font-size - 1) / $em
  h1
    font-size: ($font-size + 14) / $em
  h2
    font-size: ($font-size + 5) / $em
  h3
    font-size: ($font-size + 4) / $em
  //Grid
  header
    +width(8)
  #container
    +width(8)
    margin: 2em auto
  #intro
    +width(8)
  footer
    +width(8)

/*
 *Widescreen layout
 *912-1887 px
 *Zoomed in above 912 px
@media screen and (min-width: 60em)
  //Typography
  a
    font-size: ($font-size - 0) / $em
  p
    font-size: ($font-size - 0) / $em
  h1
    font-size: ($font-size + 10) / $em
  h2
    font-size: ($font-size + 6) / $em
  h3
    font-size: ($font-size + 2) / $em
  //Grid
  header
    +width(12)
  #container
    +width(12)
    margin: 1.25em auto 3em auto
  #intro
    +width(12)
  #work
    +width(12)
  #blog
    +width(12)
  #details
    +width(12)
  footer
    +width(12)