@import 'jeet'
@import 'axis'
@import 'rupture'

rupture.enable-em-breakpoints = true

// Normalize Mode, engage!
normalize-css()
base()

font-size(n)
	font-size n * 1px
	font-size n * 1rem

// Colors!!!
orange = rgba(255, 153, 0, 1)
dark-orange = rgb(186, 99, 0)

html
	font-size 1px

body
	font-family 'Fira Sans', sans-serif
	color #5d5d5d
	font-weight 400
	z-index 1
	font-size 15

// Headings
h1
	ffont-family 'Fira Sans', sans-serif
	font-weight 700
	color #999
	font-size 48
	margin-bottom .5em
	margin-top 1.25em

h2
	font-family 'Fira Sans', sans-serif
	font-weight 700
	color #999
	font-size 38
	margin-bottom 1.25em
	margin-top 1.25em

h3
	font-family 'Fira Sans', sans-serif
	font-weight 700
	color #999
	font-size 30

h4
	font-family 'Fira Sans', sans-serif
	font-weight 400
	color #999
	font-size 22

h5
	font-family 'Fira Sans', sans-serif
	font-weight 400
	color #999
	font-size 16

p
	font-size 15
	font-weight 400
	text-align justify
	line-height 2
	color #999

a
	color rgba(101, 174, 245, 1)
	text-decoration none

img
	border-radius 6px
	z-index 0

hr
	color rgba(209, 209, 209, 0.47)
	height 1px
	margin-top 40px
	margin-bottom 40px

code
	white-space normal
	background rgba(0, 0, 0, 0.1)
	padding 10px 20px
	border-radius 3px


// Base Elements
.container
	center(max-width = 960px)

.container-narrow
	center(max-width = 880px)
