@import 'nib'

body, h1, h2, h3, h4, h5, p
	font-family 'Alegreya', serif
	color #5d5d5d
	font-weight 400

body
	border-top 3px solid orange

// Headers
h1, h2, h3
	font-weight 700

h4, h5
	font-weight 400
	color #999

p
	line-height 24px
	text-align justify

.container-narrow
	margin 0 auto
	max-width 870px

img
	border-radius 3px

// Navigation Styling
.nav
	margin-bottom 28px
	li
		a
			padding 2px 18px 2px
			font-size 13px
			font-weight 700

.nav-pills
	li, li+li
		margin-left 0px
		a
			border-radius 3px
			color #999999
	li.active
		a
			background-color orange
			&:hover
				background-color orange
			&:focus
				background-color orange

.thumbnail
	border none
	margin-bottom 0

.btn
	border-radius 2px
	color black
	background-color white
	border 1px solid orange
	margin-top 40px
	&:hover
		background-color orange
		border 1px solid orange

.bs-masthead
	text-align center
	padding 30px 15px 5px
	p
		margin-left 2%
		margin-right 2%
	h1
		font-size 50px

#content
	margin-top 20px
	margin-bottom 40px

.header
	text-align center
	ul
		display inline-block
		margin-left auto
		margin-right auto
	.logo
		margin-top 45px
		margin-bottom 30px
		img
			width 64px
			height 100%

.orange
	color orange

.projects
	li
		width 100%
		float left
		list-style none

.project
	margin 40px 0 120px
	text-align center
	img
		width 100%

.post
	margin 20px 0
	h1
		color #aeaeae
	.post-details
		margin 0 0 25px
	img
		width 100%
		margin-top 20px
		margin-bottom 20px

.date, .author
	display inline-block

// Post Content Styling
.post-content
	margin-top 30px
	text-align left

article#post
	text-align center

#article-meta
	margin-top 50px
	text-align center
	font-size 12px
	.author
		margin-left 20px

code
	white-space normal

#about
	.lead
		text-align center
	.info
		margin-top 100px
		.content-block
			padding 22px
	.btn
		margin-top 150px

@import 'breakpoints'
