---
title: About
layout: page
isPage: true
pageOrder: 3
---

section#about
	.bs-masthead
		h1 My name is 
			span.orange Austin L. Kettner
		p.lead 
			| I love to create visually rich and elegantly simple solutions to complex problems.
	.row.info
		.col-sm-4.content-block
			p I live in the beautiful city of Akron, Ohio. With frequent travel to Cleveland, Ohio and various Northeast Ohio regions. 
		.col-sm-4.content-block
			p Programmer, Designer, Perfectionist. I just love creating great products with a focus on every, single, detail.
		.col-sm-4.content-block
			p I am a Co-Founder of Quixby, a creator of enterprise e-commerce solutions. We make shopping personal.