---
title: Contact
layout: page
isPage: true
pageOrder: 4
---

section#contact
	article
		h2 Contact Me
		p Feel free to email me about a question or to just introduce yourself.
		p <a href="mailto:mail@austinkettner.com">email@austinkettner.com</a>
		br
		p Follow me on Twitter <a href="http://www.twitter.com/austinkettner">@austinkettner</a>
		p Or, find me on Github <a href="http://www.github.com/austinkettner">/austinkettner</a>