---
title: Home
layout: page
isPage: true
inMenu: false
pageOrder: 1
---


section#intro.full.first
	.slant-bg
	.container
		.content.wow.fadeInDown
			.graphic
				img(src="/images/polygon.png")
			.text
				h3 Continually Simplify
				
section#about.full
	.slant-bg
	.container
		.content.wow.fadeInDown
			.graphic
				i.icon.ion-document-text
			.text
				h2 About Me
				p My name is Austin L Kettner.
				p
					| I am an Akron, Ohio based entrepreneur who loves to meticulously crafted digital experiences. Born in Beverly Hills, CA and moving to Akron early on, I call Akron my home. I left Ohio State University within my first year to found @Quixby which was the start of my entrepreneur livelihood. From the very beginning, I have worked with two amazing business partners and friends James Hilton (<a href="https://twitter.com/cr0wmium">@cr0wmium</a>) and Jack Hilton (<a href="https://www.linkedin.com/pub/jack-hilton/44/881/a66">@jacklhilton</a>).
				p 
					| Self taught developer, passionate UI/UX designer and general perfectionist; I best classify myself as a Product Manager.
			.links
				a(href="http://www.facebook.com/austinkettner")
					i.icon.ion-social-facebook
				a(href="http://www.twitter.com/austinkettner")
					i.icon.ion-social-twitter
				a(href="http://www.linkedin.com/austinkettner")
					i.icon.ion-social-linkedin
				a(href="http://www.dribbble.com/austinkettner")
					i.icon.ion-social-dribbble
				a(href="http://plus.google.com/austinkettner")
					i.icon.ion-social-googleplus

section#work
	.slant-bg
	.container
		.content.wow.fadeInDown
			.graphic
				i.icon.ion-code-working
			.text
				h2 Work
				p My work is a mix of startups, consulting gigs and personal projects. Each and every project is a passion project that I can get behind on a personal level. Some are problem solvers and others are problem creators.
			.interactive-preview
				a(href="/projects/the-people-startup/info.html")
					img(src="/images/work-preview-tps.png")
				a(href="/projects/quixby-app/info.html")
					img(src="/images/work-preview-quixby.png")
				a(href="/projects/3pivots/info.html")
					img(src="/images/work-preview-3pivots.png")
			.links
				a(href="/projects.html") See all of my projects
