---
title: Home
layout: page
isPage: true
pageOrder: 1
---

.banner
  img(src= '/images/cleveland.jpg')

section#intro
  h1 My name is Austin Kettner
  h2.highlight I'm a product manager, developer & ui/ux designer
  p I love crafting immersive, visually rich, and simple solutions to complex problems. This is not only my personal passion but my motivation behind co-founding my current startup Quixby.