---
title: Home
layout: page
isPage: true
pageOrder: 1
---

section#work
	.projects
		each document in getCollection('projects').toJSON()
			li
				a(href= document.url, class="thumbnail")
					img(src= '/' + document.relativeDirPath + '/thumbnail.png')