---
title: Work
layout: page
isPage: true
inMenu: true
pageOrder: 2
---

section#myStartups
	.container
		.content.intro
			.text
				h2 Startups of Mine
				p Startups are my most devoted work items. As most entrepreneurs will attest, there is no experience quite like entrepreneurism. In Ohio it’s most definitely challenging but it has been rewarding.
			.gallery
				each document in getCollection('projects').toJSON()
					if document.type === 'startup'
						li
							a(href= document.url, class="thumbnail")
								img(src= '/' + document.relativeDirPath + '/thumbnail.png')

section#otherWork
	.container
		.content
			.text
				h2 Development and Design Work
				p Some personal projects, but mostly consulting work all mixed together. Under the shroud of '3Pivots' a majority of these projects came to life.
			.gallery
				each document in getCollection('projects').toJSON()
					if document.type === 'other'
						li
							a(href= document.url, class="thumbnail")
								img(src= '/' + document.relativeDirPath + '/thumbnail.png')

section#conceptProjects
	.container
		.content
			.text
				h2 Concept Projects
				p Projects aimed at rethinking an established concept. I constantly find myself wondering why certain design were made, these explorative projects help answer that question for better or for worse and I look at better solutions at the same time.	
			.gallery
				each document in getCollection('projects').toJSON()
					if document.type === 'concept'
						li
							a(href= document.url, class="thumbnail")
								img(src= '/' + document.relativeDirPath + '/thumbnail.png')
			.text
				p.highlight Coming Soon
