---
layout: default
---

- var arrDate = document.date.toDateString().split(' ')

section#postDetails
	.container-narrow
		.content.top
			article#post.post
				h1= document.title
				hr
				.post-image
					img(src= document.image, alt="Header Image")
				
				.post-content!= content
				
				hr
					
				.post-meta
					span.date= arrDate[1] + ' ' + arrDate[2] + ' ' + arrDate[3] + ' '
					span.author= 'By' + ' ' + site.author
