---
layout: default
---

section#projectDetails
	.container-narrow
		.content.intro
			h1= document.title
			hr
			.preview
				img(src="./preview.png")
			.project-content!= content

			if document.link
				form(action= document.link)
					button(type="submit", class="btn check-it-out") Check it out
