---
layout: default
---

article#project.project
	.row
		.col-sm-10.col-sm-offset-1
			h1= document.title
			hr
			#carousel-example-generic.carousel.slide
				// Indicators
				ol.carousel-indicators
					li(data-target="#carousel-example-generic", data-slide-to="0", class="active")
					li(data-target="#carousel-example-generic", data-slide-to="1")
					li(data-target="#carousel-example-generic", data-slide-to="2")
				// Wrapper for Slides
				.carousel-inner
					.item.active
						img(src="1.png")
					.item
						img(src="2.png")
					.item
						img(src="3.png")
				// Controls
				a(class="left carousel-control", href="#carousel-example-generic", data-slide="prev")
					span(class="icon-prev")
				a(class="right carousel-control", href="#carousel-example-generic", data-slide="next")
					span(class="icon-next")	
			.post-content!= content
	.row
		.col-sm-8.col-sm-offset-2
			button(type="button", class="btn btn-primary btn-large btn-block") Check it out
