---
layout: default
---

section#projectDetails
	.content.intro
		.container-narrow
			.title= document.title
			hr
	.preview
		.container-narrow
			img(src="./preview.png")
	.project-content
		.container-narrow!= content
	.project-gallery
		.container-narrow
			ul
				for file in getDocument().getAssociatedFiles().toJSON()
					li
						img(src=file.url)
		.link
			.container-narrow
				if document.link
					form(action= document.link)
						button(type="submit", class="btn check-it-out") Check it out
