---
layout: default
---

section#projectDetails
	.slant-bg
	.container-narrow
		.content
			.title= document.title
			.project-content
				!= content
			.project-gallery
				if document.platform == 'web'
					ul.single-column
						for file in getDocument().getAssociatedFiles().toJSON()
							li
								img(src=file.url)
				if document.platform == 'app'
					ul.two-column
						for file in getDocument().getAssociatedFiles().toJSON()
							li
								img(src=file.url)
			if document.link != null
				.link
					.container-narrow
						form(action= document.link)
							button(type="submit", class="btn check-it-out") Check it out
