---
layout: default
---

article#project.project.animated.fadeInDown
	.row
		.col-sm-10.col-sm-offset-1
			h1= document.title
			hr
			.preview
				img(src="./preview.png")
			.post-content!= content
	.row
		.col-sm-8.col-sm-offset-2
			if document.link
				form(action= document.link)
					button(type="submit", class="btn btn-primary btn-large btn-block") Check it out
